<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>adminservlet</servlet-name>
        <servlet-class>controller.adminservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>controller.userServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user123</servlet-name>
        <servlet-class>controller.user123</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>controller.userlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewServlet</servlet-name>
        <servlet-class>controller.viewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bServlet2</servlet-name>
        <servlet-class>controller.bServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewBus</servlet-name>
        <servlet-class>controller.viewBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletebus</servlet-name>
        <servlet-class>controller.Deletebus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>routeServlet</servlet-name>
        <servlet-class>controller.routeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRouteServlet</servlet-name>
        <servlet-class>controller.viewRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteroute</servlet-name>
        <servlet-class>controller.deleteroute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>controller.LogoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userServlet1</servlet-name>
        <servlet-class>controller.userServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminservlet</servlet-name>
        <url-pattern>/adminservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user123</servlet-name>
        <url-pattern>/user123</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewServlet</servlet-name>
        <url-pattern>/viewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bServlet2</servlet-name>
        <url-pattern>/bServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewBus</servlet-name>
        <url-pattern>/viewBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletebus</servlet-name>
        <url-pattern>/Deletebus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>routeServlet</servlet-name>
        <url-pattern>/routeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRouteServlet</servlet-name>
        <url-pattern>/viewRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteroute</servlet-name>
        <url-pattern>/deleteroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet1</servlet-name>
        <url-pattern>/userServlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
