*{
    padding: 0;
    margin: 0;
 }
html,body {
  font-family: 'Open Sans', serif;
  font-size: 15px;
  font-weight: 300;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 100;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 3rem;
}
.field
{
    margin-top: 2.5rem;
}